---
---

@charset "utf-8";

@import url("//fonts.googleapis.com/css?family=Ubuntu+Condensed");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,greek");
// @import url("{{ '/vendor/bootstrap-4.0.0-alpha.2/dist/css/bootstrap.css' | prepend: site.baseurl }}");

// Our variables
$base-font-family: "Open Sans", sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$comp-font-family: "Ubuntu Condensed", sans-serif;

$spacing-unit:     30px;

$text-color:       #FFF;
$red-color:        #C0281C;
$brand-color:      $red-color;
$brand-primary:    $red-color;
$grey-color:       #444;
$grey-color-light: #DBE3E2;
$grey-color-dark:  #222;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
// @mixin media-query($device) {
//     @media screen and (max-width: $device) {
//         @content;
//     }
// }


body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $grey-color-dark;
  -webkit-text-size-adjust: 100%;
}

.infobar {
  background: $grey-color-dark;
  color: #FFF;
  text-align: center;
  padding: 15px;
  font: bold 1.1em/1.8 $base-font-family;
  border-bottom: 1px #000 solid;
}

.site-header {
  background-color: #FFF;
  border-top: 10px #000 solid;
  border-bottom: 3px #000 solid;
  color: $grey-color-dark;
  position: relative;
  overflow: hidden;
  .container {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .tagline {
    display: block;
    margin-top: 10px;
    font-size: .9em;
    text-align: center;
    font-weight: bold;
  }
  .logo {
    width: 280px;
    img {
      width: 100%;
    }
  }
}

.btn-menu {
  display: block;
  text-align: center;
  background: $red-color;
  padding: 22px 30px 26px;
  line-height: 1;
  cursor: pointer;
  color: #FFF;
  border-radius: .3rem;
  text-shadow: 0 1px 0 #333;
  &:hover {
    background: darken($red-color, 10%);
  }
  strong {
    font-size: 2em;
  }
  small {
    display: block;
    margin-top: 5px;
    font-size: .9em;
  }
  @media (max-width: 768px) {
    margin-top: 30px;
    position: static;
  }
}

.slides {
  height: 550px;
  background: url("{{ '/img/crepe-on-fork.jpeg' | prepend: site.baseurl }}") 50% 50% $grey-color-dark;
  background-size: cover;
  position: relative;
}

.phones {
  background: $red-color;
  color: #FFF;
  font-size: 1.8em;
  padding: 20px;
  line-height: 1;
  border: $grey-color-dark solid;
  border-width: 1px 0;
  small {
    display: block;
    font-size: .6em;
    margin-bottom: 15px;
  }
  a {
    color: #FFF !important;
    white-space: nowrap;
  }
  .whatsup {
    padding-left: 100px;
    background: url("{{ '/img/cosmote-whatsup-logo.png' | prepend: site.baseurl }}") no-repeat;
    background-size: auto 63px;
  }
  @media (max-width: 768px) {
    border-top-width: 0;
  }
}

.newsletter-form {
  border-radius: .3rem;
  color: #333;
  background-color: #FFF;
  label {
    font-weight: 700;
  }
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url("/img/email.jpg") 100% 50% no-repeat #FFF;
  }
}

.offers {
  .offer {
    margin-bottom: 50px;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 25px;
  }
  dt {
    font-size: 1.4em;
  }
  dd {
    font-sise: 1.1em;
  }
  small {
    font-size: .9em;
  }
}

.offers-1 {
  background: #FFF;
  color: #333;
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
    @media (min-width: 1000px) {
      background: url("/img/wow.jpg") 100% 100% no-repeat;
      background-size: 55%;
    }
  }
}

.offers-2 {
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.phone-offer {
  height: 400px;
  margin-top: 30px;
  color: #333;
  padding: 15px;
  border-radius: .3rem;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  position: relative;
  overflow: hidden;
  div {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    border-radius: .3rem;
    padding: 10px;
    display: block;
    margin: -10px;
    background: $red-color;
    color: #FFF;
  }
  strong {
    font-size: 1.3em;
  }
  .huge {
    position: absolute;
    top: -50px;
    right: -20px;
    font-size: 10em;
    color: #FFF;
    font-weight: bold;
  }
}

.phone-offer-1 {
  background-image: url("/img/choco-sm.jpg");
}

.phone-offer-2 {
  background-image: url("/img/coke2.jpg");
}

.phone-offer-3 {
  background-image: url("/img/crepe-closeup.jpg");
}

h2 {
  font: 3em/1 $comp-font-family;
  margin-bottom: 30px;
}

.btn {
  font-family: $comp-font-family;
}

.huge {
  font-size: 4em;
}

.featured {
  padding: 100px 0;
  img {
    max-width: 100%;
    margin: 15px 0;
  }
  p {
    font-size: 1.3em;
  }
}

.alert-info {
  font-size: 1.1em;
  background: $grey-color;
  border: 0;
  color: #FFF;
  margin: 0;
  padding-bottom: 35px;
}

#gmap_canvas {
  color: #333;
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
  img {
    max-width: none!important;
    background: none!important;
  }
}

.text-danger {
  color: $red-color !important;
}

.site-footer {
  padding: 100px 0;
  font-size: .8em;
  line-height: 1.8;
  .footer-last {
    margin-top: 100px;
  }
  a {
    color: #FFF !important;
  }
}

.pin {
  width: 64px;
  margin-top: -50px;
  margin-bottom: 5px;
}

.social {
  padding: 100px 0;
  font-weight: bold;
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
  background: url("/img/social.jpg") 50% 50% no-repeat;
  background-size: cover;
  a {
    text-align: center;
    display: block;
  }
  img {
    border: 1px solid #000;
    margin-bottom: 10px;
    max-width: 100%;
  }
}

.btn-primary {
  background: $red-color !important;
  border: 0;
  padding: 20px;
  font-size: 1.4em;
  white-space: inherit;
  &:hover {
    background: darken($red-color, 10%) !important;
  }
}

.app-stores {
  // background: #FFF;
  color: #333;
  // font-size: 1.5em;
  // padding: 100px 0;
  p {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  img {
    height: 50px;
    margin-right: 15px;
    margin-bottom: 5px;
  }
}

.form-control:focus {
  border-color: #CCC;
}
