---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url("//fonts.googleapis.com/css?family=Ubuntu+Condensed");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,greek");
@import url("{{ '/vendor/bootstrap-4.0.0-alpha.2/dist/css/bootstrap.min.css' | prepend: site.baseurl }}");

// Our variables
$base-font-family: "Open Sans", sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$comp-font-family: "Ubuntu Condensed", sans-serif;

$spacing-unit:     30px;

$text-color:       #FFF;
$red-color:        #C0281C;
$brand-color:      $red-color;
$brand-primary:    $red-color;
$grey-color:       #4D4D4D;
$grey-color-light: #DBE3E2;
$grey-color-dark:  #1A1A1A;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
// @mixin media-query($device) {
//     @media screen and (max-width: $device) {
//         @content;
//     }
// }


body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $grey-color-dark;
  -webkit-text-size-adjust: 100%;
}

.infobar {
  background: $grey-color-dark;
  color: #FFF;
  text-align: center;
  padding: 10px 15px;
  font: bold 1.2em/2 $base-font-family;
}

.site-header {
  background-color: $grey-color-light;
  border-top: 3px $grey-color-dark solid;
  color: $grey-color-dark;
  position: relative;
  overflow: hidden;
  .container {
    position: relative;
    padding-top: 37px;
    padding-bottom: 32px;
  }
  .tagline {
    display: block;
    margin-top: 10px;
    font-size: .9em;
  }

  // &::after {
  //   content: "";
  //   display: block;
  //   background: url("/img/193650.svg");
  //   background-size: 100%;
  //   width: 80px;
  //   height: 56px;
  //   position: absolute;
  //   bottom: 0;
  //   left: -150px;
  //   z-index: 100;
  //   animation: deliver 5s;
  //   animation-delay: 2s;
  // }
}

@keyframes deliver {
  0% {
    left: -100px;
  }
  100% {
    left: 110%;
  }
}

.btn-menu {
  display: block;
  text-align: center;
  position: absolute;
  top: 30px;
  right: 20px;
  background: $red-color;
  padding: 15px 30px 20px;
  line-height: 1;
  cursor: pointer;
  color: #FFF;
  border-radius: .3rem;
  box-shadow: 0 3px 3px lighten($grey-color-dark, 40%);
  text-shadow: 0 1px 0 #333;
  &:hover {
    background: darken($red-color, 10%);
  }
  strong {
    font-size: 2em;
  }
  small {
    display: block;
    margin-top: 5px;
    font-size: .9em;
  }
  @media (max-width: 768px) {
    margin-top: 30px;
    position: static;
  }
}

.slides {
  height: 550px;
  background: url("{{ '/img/crepe-on-fork.jpeg' | prepend: site.baseurl }}") 50% 50% $grey-color-dark;
  background-size: cover;
  position: relative;
}

.phones {
  background: $red-color;
  color: #FFF;
  font-size: 1.8em;
  text-align: center;
  padding: 20px;
  line-height: 1;
  border: $grey-color-dark solid;
  border-width: 1px 0;
  small {
    display: block;
    font-size: .6em;
    margin-bottom: 15px;
  }
  .whatsup {
    padding-left: 100px;
    background: url("{{ '/img/cosmote-whatsup-logo.png' | prepend: site.baseurl }}") no-repeat;
    background-size: auto 63px;
  }
  @media (max-width: 768px) {
    border-top-width: 0;
  }
}

.newsletter-form {
  padding: 30px;
  border-radius: .3rem;
  margin-bottom: 50px;
  background: $grey-color;
  color: #FFF;
  label {
    font-weight: 700;
  }
}

.offers {
  padding-top: 20px;
  padding-bottom: 50px;
  .offer {
    margin: 50px 0 60px;
  }
  h2 {
    margin-bottom: 25px;
  }
  dt {
    font-size: 1.4em;
  }
  dd {
    font-sise: 1.1em;
  }
  small {
    font-size: .9em;
  }
}

.phone-offer {
  margin-top: 10px;
  border: 1px $grey-color solid;
  padding: 15px;
  height: 150px;
  border-radius: .3rem;
}

.thumbs {
  text-align: center;
  img {
    max-width: 100%;
    margin: 20px 0;
  }
}

h2.thumbs-middle {
  margin: 30px 0;
  line-height: 1.5;
}

.alert-info {
  font-size: 1.1em;
  background: $grey-color;
  border: 0;
  color: #FFF;
}

.text-danger {
  color: $red-color !important;
}

.site-footer {
  padding-bottom: 50px;
}

.pin {
  width: 64px;
  margin-top: -50px;
  margin-bottom: 5px;
}

.social {
  margin-top: 50px;
  .btn {
    margin-bottom: 10px;
  }
}

.btn-primary {
  background: $red-color !important;
  border: 0;
  padding: 20px;
  font-size: 1.4em;
  white-space: inherit;
  &:hover {
    background: darken($red-color, 10%) !important;
  }
}

.app-stores {
  font-size: 1.5em;
  margin-top: 50px;
  border: 1px $grey-color solid;
  border-radius: .3rem;
  padding: 15px;
  img {
    height: 80px;
    margin: 10px;
  }
}

.small-print {
  line-height: 1.8;
  font-size: .8em;
  margin-top: 100px;
  a {
    color: #FFF !important;
  }
}

.form-control:focus {
  border-color: #CCC;
}
