

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=RyobLplg74">
<link rel="icon" type="image/png" href="/favicon-32x32.png?v=RyobLplg74" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png?v=RyobLplg74" sizes="16x16">
<link rel="manifest" href="/manifest.json?v=RyobLplg74">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=RyobLplg74" color="#cc0000">
<link rel="shortcut icon" href="/favicon.ico?v=RyobLplg74">
<meta name="apple-mobile-web-app-title" content="dodos">
<meta name="application-name" content="dodos">
<meta name="theme-color" content="#ffffff">
