
<div class="featured hidden-sm-down">
  <div class="container">
    <h2>Πιτο-δημιουργίες</h2>
    <div class="row">
      <div class="col-md-3">
        <img src="{{ '/img/pita-1.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
      </div>
      <div class="col-md-3">
        <img src="{{ '/img/pita-2.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
      </div>
      <div class="col-md-3">
        <img src="{{ '/img/pita-4.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
      </div>
      <div class="col-md-3">
        <img src="{{ '/img/pita-3.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
      </div>
      <!-- <img src="{{ '/img/salad-1.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded"> -->
      <!-- <img src="{{ '/img/vafla-1.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded"> -->
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="{{ '/img/pita.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
        <p>
          Πιτο-τυλιχτά με παραδοσιακή πίτα και γεμιστό μπιφτέκι ή χωριάτικο
          λουκάνικο ή τραγανά φιλετάκια κοτόπουλο ή κοτομπουκιές!
        </p>
      </div>
      <div class="col-md-6">
        <img src="{{ '/img/pita-club.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
        <p>
          Πίτα Club με παραδοσιακές πίτες και τραγανά φιλετάκια κοτόπουλο!
        </p>
      </div>
    </div>
  </div>
</div>
