
<div class="featured hidden-sm-down">
  <div class="container">
    <!-- <h2>Πιτο-δημιουργίες</h2> -->
    <div class="row">
      <div class="col-md-6">
        <img src="{{ '/img/pita-club.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
        <p>
          Πίτα Club με παραδοσιακές πίτες και τραγανά φιλετάκια κοτόπουλο!
        </p>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <img src="{{ '/img/pita-1.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
          </div>
          <div class="col-md-6">
            <img src="{{ '/img/pita-2.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
          </div>
          <div class="col-md-6">
            <img src="{{ '/img/pita-4.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
          </div>
          <div class="col-md-6">
            <img src="{{ '/img/pita-3.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
          </div>
        </div>
        <p>
          Πιτο-τυλιχτά με παραδοσιακή πίτα και γεμιστό μπιφτέκι ή χωριάτικο
          λουκάνικο ή τραγανά φιλετάκια κοτόπουλο ή κοτομπουκιές!
        </p>
      </div>
    </div>
  </div>
</div>
