

<footer class="site-footer">

  <div class="container text-xs-center">
    <p class="alert alert-info">
      <img src="{{ '/img/pin.png' | prepend: site.baseurl }}" alt="Dodos" class="pin"><br>
      Πάρε την παρέα σου κι ελάτε να φάτε στο καλύτερο στέκι της πόλης.<br>
      Θα μας βρείτε στην οδό Φαρμακίδου 20, στην παραλία της Χαλκίδας, δίπλα στην πλατεία του Αγίου Νικολάου.
    </p>
    <div class="social">
      <a target="_blank" class="btn btn-lg btn-primary" href="https://www.facebook.com/Dodos-creperie-1400896283479414/">Like Dodos FB Page</a>
      <a target="_blank" class="btn btn-lg btn-primary" href="https://www.facebook.com/groups/144570275685325/">Join Dodos FB Group</a>
    </div>
    <p class="app-stores">
      <a href="https://play.google.com/store/apps/details?id=com.shopilab.dodos" target="_blank">
        <img src="/img/google-play-badge-el.png" alt="Google PLay">
      </a>
    </p>
    <p class="small-print">
      Οι επωνυμίες Google Play και Android καθώς και το λογότυπο Google Play αποτελούν εμπορικά σήματα της Google Inc.<br>
      Η σελίδα σχεδιάστηκε από την <a href="http://shopilab.com" target="_blank">Shopilab - Εφαρμογές Ηλεκτρονικού Εμπορίου
    </p>
  </div>

</footer>
