

<footer class="site-footer">

  <div class="container text-xs-center">

    <p>
      ΚΑΦΕΣΤΙΑΣΗ DODOS ΙΔΙΩΤΙΚΗ ΚΕΦΑΛΑΙΟΥΧΙΚΗ ΕΤΑΙΡΕΙΑ<br>
      Φαρμακίδου 20, Χαλκίδα, τ.κ. 34100<br>
      Τηλ. 22210 29959, 22210 81117, 22210 89513<br>
      What's Up 69782 41534<br><br>
      <a href="/docs/isologismos-2015.pdf" target="_blank">Οικονομικά στοιχεία</a>
    </p>

    <p class="footer-last">
      Οι επωνυμίες Google Play και Android καθώς και το λογότυπο Google Play αποτελούν εμπορικά σήματα της Google Inc.<br>
      Η σελίδα σχεδιάστηκε από την <a href="http://shopilab.com" target="_blank">Shopilab - Εφαρμογές Ηλεκτρονικού Εμπορίου
    </p>

  </div>

</footer>

<script src="https://www.foodbooking.com/widget/js/ewm2.js" defer async ></script>
