

<div class="newsletter-form">
  <div class="container">
    <div id="mc_embed_signup" class="row">
      <form action="//three99.us6.list-manage.com/subscribe/post?u=95d34878f9683d4c2dc714434&amp;id=90f825c92c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate col-md-6 col-md-offset-3" target="_blank" novalidate="" _lpchecked="1">
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group form-group">
            <label class="control-label">Προσφορές και Εκπλήξεις στο email σου!</label>
            <input type="email" value="" name="EMAIL" class="required email form-control input-lg" id="mce-EMAIL" placeholder="Email Address">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <input type="text" name="b_95d34878f9683d4c2dc714434_90f825c92c" tabindex="-1" value="">
          </div>
          <!-- <div class="clear hidden"> -->
          <!-- <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"> -->
          <!-- </div> -->
        </div>
      </form>
    </div>
  </div>
</div>
