

<div class="container offers">
  {% include thumbs.html %}
  <div class="offer">
    <h2>20% Έκπτωση στις online παραγγελίες</h2>
    <p>
      Τώρα το να παραγγείλεις το αγαπημένο σου sandwich ή την αγαπημένη σου κρέπα
      είναι πιο εύκολο από ποτέ! Με ένα κλικ στο dodos.gr από τον υπολογιστή, το tablet
      ή το κινητό σου, βλέπεις τον κατάλογο, διαλέγεις και παραγγέλνεις σε δευτερόλεπτα.
    </p>
  </div>

  {% include btn2-menu.html %}
  <br>

  <!--
  <div class="offer">
    <h2>10% Έκπτωση για παραλαβή από το κατάστημα</h2>
    <p>
      Έλα να παραλάβεις τις αλμυρές ή τις γλυκές κρέπες της επιλογής σου από το κατάστημά μας
      και με ελάχιστη κατανάλωση 3 ευρώ κέρδίσε 10% έκπτωση στο σύνολο του λογαριασμού σου.
    </p>
  </div>
  -->
  <div class="offer">
    <h2>Δώρα για τηλεφωνικές παραγγελίες διανομής</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="phone-offer">
          <strong>Smart Pack</strong><br>
          <span>Για παραγγελίες από 12 ευρώ δώρο μια κρέπα σοκολάτα.</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="phone-offer">
          <strong>Cinema Pack</strong><br>
          <span>Για παραγγελίες από 18 ευρώ δώρο μια Coca Cola 1,5 λίτρο.</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="phone-offer">
          <strong>Party Pack</strong><br>
          <span>Για παραγγελίες από 25 ευρώ δώρο μια Coca Cola 1,5 λίτρο και δύο κρέπες σοκολάτα.</span>
        </div>
      </div>
    </div>
  </div>
</div>
