

<div class="offers offers-1">
  <div class="container">

    <div class="offer">
      <h2><span class="huge">20%</span><br>Έκπτωση στις online παραγγελίες</h2>
      <p>
        Παραγγέλνεις online και κερδίζεις!<br>
        Τέτοια προσφορά απλά δεν υπάρχει!
      </p>
    </div>

    {% include btn2-menu.html %}

    <div class="app-stores">
      <p>
        Έχεις smart-phone ή tablet;<br>
        Κατέβασε την εφαρμογή μας και παράγγειλε ακόμα πιο εύκολα!
      </p>
      <a href="https://play.google.com/store/apps/details?id=com.shopilab.dodos" target="_blank">
        <img src="/img/google-play.svg.png" alt="Google PLay">
      </a>
      <a href="https://itunes.apple.com/gr/app/dodos/id1122430182" target="_blank">
        <img src="/img/app-store.svg.png" alt="App Store">
      </a>
    </div>

  </div>
</div>
