

<div class="offers offers-2">
  <div class="container">

    <div class="offer">
      <h2>Δώρα για τηλεφωνικές παραγγελίες διανομής</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="phone-offer phone-offer-1">
            <div>
              <strong>Smart Pack</strong><br>
              <span>Για παραγγελίες από 12 ευρώ δώρο μια κρέπα σοκολάτα.</span>
            </div>
            <span class="huge hidden-sm-down">12</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="phone-offer phone-offer-2">
            <div>
              <strong>Cinema Pack</strong><br>
              <span>Για παραγγελίες από 18 ευρώ δώρο μια Coca Cola 1,5 λίτρο.</span>
            </div>
            <span class="huge hidden-sm-down">18</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="phone-offer phone-offer-3">
            <div>
              <strong>Party Pack</strong><br>
              <span>Για παραγγελίες από 25 ευρώ δώρο μια Coca Cola 1,5 λίτρο και δύο κρέπες σοκολάτα.</span>
            </div>
            <span class="huge hidden-sm-down">25</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
