

<div class="container offers">
  <div class="row">
    <div class="col-md-2">
      {% include thumbs.html %}
    </div>
    <div class="col-md-10">
      <div class="offer">
        <h2>20% Έκπτωση στις online παραγγελίες</h2>
        <p>
          Τώρα το να παραγγείλεις το αγαπημένο σου sandwitch ή την αγαπημένη σου κρέπα
          είναι πιο εύκολο από ποτέ! Με ένα κλικ στο dodos.gr από τον υπολογιστή, το tablet
          ή το κινητό σου, βλέπεις τον κατάλογο, διαλέγεις και παραγγέλνεις σε δευτερόλεπτα.
        </p>
      </div>
      <div class="offer">
        <h2>10% Έκπτωση για παραλαβή από το κατάστημα</h2>
        <p>
          Έλα να παραλάβεις τις αλμυρές ή τις γλυκές κρέπες της επιλογής σου από το κατάστημά μας
          και με ελάχιστη κατανάλωση 3 ευρώ κέρδίσε 10% έκπτωση στο σύνολο του λογαριασμού σου.
        </p>
      </div>
      <div class="offer">
        <h2>Δώρα για τηλεφωνικές παραγγελίες διανομής</h2>
        <dl>
          <dt>Smart Pack</dt>
          <dd>Για παραγγελίες από 12 ευρώ δώρο μια κρέπα σοκολάτα.</dd>
          <dt>Cinema Pack</dt>
          <dd>Για παραγγελίες από 18 ευρώ δώρο μια Coca Cola 1,5 λίτρο.</dd>
          <dt>Party Pack</dt>
          <dd>Για παραγγελίες από 25 ευρώ δώρο μια Coca Cola 1,5 λίτρο και δύο κρέπες σοκολάτα.</dd>
      </div>
      <div class="offer">
          <h2>School Pack</h2>
          <p>Από τις 10 το πρωί έως τις 2 το μεσημέρι διάλεξε έως 4 από τα παρακάτω υλικά για να γεμίσεις την κρέπα σου και πλήρωσε μόνο 3 ευρώ... τυρί, ζαμπόν, γαλοπούλα, λουκάνικο Φρανκφούρτης ή Μυκόνου, αυγό (βραστό, σπαστό ή ομελέτα), τηγανιτές πατάτες, μαγιονέζα, ουγγαρέζα, ρώσικη, sause μουστάρδας, french dressing, κέτσαπ, μουστάρδα, ντομάτα, μαρούλι, πιπεριά. Επίσης απόλαυσε την αγαπημένη σου κρέπα σοκολάτα μόνο με 2 ευρώ! Ισχύει μόνο για παραλαβή και κατανάλωση εντός του καταστήματος.</p>
        </div>
    </div>
  </div>
</div>
