

<div class="phones">
  <div class="row">
    <div class="col-md-7 col-sm-12">
      <div class="text-md-right text-sm-left">
        <small>Τηλεφωνικές Παραγγελίες</small>
        <span itemprop="telephone">
          <a href="tel:+302221029959">22210 29959</a>,
        </span><br class="hidden-sm-up">
        <span itemprop="telephone">
          <a href="tel:+302221081117">22210 81117</a>,
        </span><br class="hidden-sm-up">
        <span itemprop="telephone">
          <a href="tel:+302221089513">22210 89513</a>
        </span>
      </div>
    </div>
    <div class="col-md-5 col-sm-12">
      <br class="hidden-md-up">
      <div class="text-sm-left text-xs-left whatsup">
        <small>What's Up</small>
        <span itemprop="telephone">
          <a href="tel:+306978241534">69782 41534</a>
        </span>
      </div>
    </div>
  </div>
</div>
