

<div class="social">
  <div class="container">
    <div class="row">
      <div class="col-md-3 offset-md-3 col-sm-6 col-xs-6">
        <a target="_blank" href="https://www.facebook.com/Dodos-creperie-1400896283479414/">
          <img src="/img/yes.jpg" alt="Facebook icon"><br>
          Like dodos Facebook Page
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <a target="_blank" href="https://www.facebook.com/groups/144570275685325/">
          <img src="/img/group.jpg" alt="Facebook icon"><br>
          Join dodos Facebook Group
        </a>
      </div>
    </div>
  </div>
</div>
