

<div class="thumbs hidden-sm">
  <img src="{{ '/img/crepa-1.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
  <img src="{{ '/img/club-1.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
  <img src="{{ '/img/salad-2.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
  <img src="{{ '/img/salad-1.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
  <img src="{{ '/img/vafla-1.jpg' | prepend: site.baseurl }}" alt="Dodos Crepes Χαλκίδα" class="img-rounded">
</div>
